################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Linear Algebra/obj
/Linear Algebra/bin
Linear Algebra/.vs/Linear Algebra/DesignTimeBuild/.dtbcache.v2
Linear Algebra/.vs/Linear Algebra/v17/.suo
