################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Linear Algebra/obj
/Linear Algebra/bin
Linear Algebra/.vs/Linear Algebra/DesignTimeBuild/.dtbcache.v2
Linear Algebra/.vs/Linear Algebra/v17/.suo
/SENG564/TimeToGo/bin/Debug/net7.0-windows10.0.19041.0/win10-x64
/SENG564/TimeToGo/obj/Debug/net7.0-android/designtime/libraryprojectimports.cache
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Platforms/Windows/App.xbf
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/embed.resfiles.intermediate
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/embed.resfiles
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlTypeInfo.g.cs
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
/SENG564/TimeToGo/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
/SENG564/TimeToGo/.vs/TimeToGo/FileContentIndex/5963e12c-34eb-4bb8-b068-75e039841338.vsidx
/SENG564/TimeToGo/.vs/TimeToGo/v17/.suo
